[defaults]
inventory = ./inventory.ini
host_key_checking = false
timeout = 60
retry_files_enabled = false
collections_path = ./collections
 
[persistent_connection]
connect_timeout = 120
command_timeout = 120